ol,ul {
	list-style: none;
}


blockquote,q {
	quotes: none;
}

/* Contain floats: h5bp.com/q */
.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
}
/*End reset*/

/*Set body and site structure to a minimum height of 100%*/
/*this causes the body to be smaller than it's content, which means that when scrolling it looks like the content is out of body. */
html,body {
	height: 100%;
}

#SITE_STRUCTURE {
	min-height: 100%;
	position: relative;
	/*left: 50%;*/
	margin: 0 auto;
	width: 1000px;
}

textarea,input,select {
	font-family: Arial, sans-serif;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

/*
#SITE_PAGES
{
    left: 50%;
    width: 1000px;
}
*/
/*#SITE_HEADER, #SITE_FOOTER #SITE_PAGES
{
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    min-height: 100%;
    margin: 0;
}*/
.hidden {
	display: none !important;
}

[comp="mobile.core.components.Page"] {
	overflow: visible;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.lineThrough {
	text-decoration: line-through;
}

,
.singleLineText {
	white-space: nowrap;
	text-overflow: ellipsis;
}

,
.alignLeft {
	text-align: left;
}

.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.alignJustify {
	text-align: justify;
}

@
-webkit-keyframes fadeOut {from { opacity:1.0
	
}

to {
	opacity: 0.0
}

}
@
-webkit-keyframes fadeIn {from { opacity:0.0
	
}

to {
	opacity: 1.0
}

}
@
-webkit-keyframes swipeHoriz {to { left:0px
	
}

}
@
-webkit-keyframes swipeVert {to { top:0px
	
}

}
@
-moz-keyframes fadeOut {from { opacity:1.0
	
}

to {
	opacity: 0.0
}

}
@
-moz-keyframes fadeIn {from { opacity:0.0
	
}

to {
	opacity: 1.0
}

}
@
-moz-keyframes swipeHoriz {to { left:0px
	
}

}
@
-moz-keyframes swipeVert {to { top:0px
	
}

}
.background {
	position: fixed;
	width: 100%;
	background-image: url("../images/background.png");
	background-size: auto auto;
	background-position: center top;
	background-repeat: repeat;
	background-color: rgb(255, 255, 255);
	height: 100%;
}

.header {
	background-color: #1C1C1C;
	border-bottom: 0 solid transparent;
	border-top: 0 solid transparent;
	bottom: 0;
	height: 80px;
	left: 0;
	position: relative;
	right: 0;
	top: 0;
	align: center;
}

.headerContent {
	text-align: left;
	width: 980px;
	margin: 0 auto;
	color: white;
}

.logo {
	font-weight: bold;
	font: 40px/2.0em "Helvetica", "Arial", "sans-serif";
	cursor: pointer;
	text-decoration: none;
	float: left;
}

.logo {
	margin-left: 30px;
	margin-top: 7px;
}

.logo img {
	width: 155px;
}

.menu {
	float: left;
	margin-left: 40px;
	margin-top: 3px;
}

.menu ul li {
	border-top: 1px solid #CCCCCC;
	color: #999999;
	cursor: pointer;
	float: left;
	font: 15px/4.6em "Helvetica", "Arial", "sans-serif";
	margin: 0 10px 15px 0;
	padding: 0;
	text-align: center;
	width: 150px;
}

.menu ul li a {
	border-top: 0px;
	color: inherit;
}

.menu ul li:hover {
	border-top: 3px solid white;
	color: white;
	font: 15px/4.4em "Helvetica", "Arial", "sans-serif";
}

.menu .selected {
	border-top: 3px solid white;
	color: white;
	font: 15px/4.4em "Helvetica", "Arial", "sans-serif";
}


.footer {
	background-color: #D1D1D1;
	height: 54px;
	position: relative;
	bottom: 50px;
}

.footerContent {
	text-align: left;
	width: 980px;
	margin: 0 auto;
	color: white;
}

.footerContent .copy {
	color: #999999;
	font: bold 12px/4.5em "Helvetica", "Arial", "sans-serif";
}


.font_0 {
	color: #1C1C1C;
	font: 48px/1.1em "Helvetica", "Arial", "sans-serif";
}

.font_1 {
	color: #999999;
	font: bold 12px/1.1em "Helvetica", "Arial", "sans-serif";
}

.font_2 {
	color: #1C1C1C;
	font: 32px/1.1em "Helvetica", "Arial", "sans-serif";
}

.font_3 {
	color: #1C1C1C;
	font: 60px/1.1em "Helvetica", "Arial", "sans-serif";
}

.font_4 {
	color: #1C1C1C;
	font: 40px/1.3em "Helvetica", "Arial", "sans-serif";
}

.font_5 {
	color: #1C1C1C;
	font: bold 26px/1.2em "Helvetica", "Arial", "sans-serif";
}

.font_6 {
	color: #1C1C1C;
	font: bold 20px/1.3em "Helvetica", "Arial", "sans-serif";
}

.font_7 {
	color: #1C1C1C;
	font: 16px/1.3em "Helvetica", "Arial", "sans-serif";
}

.font_8 {
	color: #515151;
	font: 12px/1.3em "Helvetica", "Arial", "sans-serif";
}

.font_9 {
	color: #999999;
	font: bold 12px/1.3em "Helvetica", "Arial", "sans-serif";
}

.font_10 {
	color: #D1D1D1;
	font: 10px/1.3em "Helvetica", "Arial", "sans-serif";
}

.color_0 {
	color: #FFFFFF;
}

.color_1 {
	color: #FFFFFF;
}

.color_2 {
	color: #000000;
}

.color_3 {
	color: #FFCB05;
}

.color_4 {
	color: #0088CB;
}

.color_5 {
	color: #ED1C24;
}

.color_6 {
	color: #6B6B6B;
}

.color_7 {
	color: #999999;
}

.color_8 {
	color: #FFFFFF;
}

.color_9 {
	color: #83B13A;
}

.color_10 {
	color: #3285AB;
}

.color_11 {
	color: #D1D1D1;
}

.color_12 {
	color: #999999;
}

.color_13 {
	color: #6D6D6D;
}

.color_14 {
	color: #515151;
}

.color_15 {
	color: #1C1C1C;
}

.color_16 {
	color: #FFFFFF;
}

.color_17 {
	color: #C1E088;
}

.color_18 {
	color: #83B13A;
}

.color_19 {
	color: #577526;
}

.color_20 {
	color: #000000;
}

.color_21 {
	color: #CDEFFF;
}

.color_22 {
	color: #86B7CC;
}

.color_23 {
	color: #398EB5;
}

.color_24 {
	color: #265E76;
}

.color_25 {
	color: #132F3B;
}

.color_26 {
	color: #FFEDC6;
}

.color_27 {
	color: #ECD291;
}

.color_28 {
	color: #E3B333;
}

.color_29 {
	color: #977622;
}

.color_30 {
	color: #4B3B11;
}

.color_31 {
	color: #FFCFCF;
}

.color_32 {
	color: #DB9798;
}

.color_33 {
	color: #CA4C4D;
}

.color_34 {
	color: #863334;
}

.color_35 {
	color: #43191A;
}

.wysiwyg_viewer_skins_line_DottedLinehl1 {
	border-bottom: 2px dotted rgba(153, 153, 153, 0.8);
	height: 0 !important;
	min-height: 0 !important;
}

.wysiwyg_viewer_skins_area_CircleAreac3-bg {
	background-color: #1C1C1C;
	border: 0 solid transparent;
	border-radius: 50% 50% 50% 50%;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.wysiwyg_viewer_skins_area_CircleAreac3-inlineContent {
	border-radius: 50% 50% 50% 50%;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.wysiwyg_viewer_skins_WRichTextSkintx1-richTextContainer {
	height: 100%;
	position: relative;
	width: 100%;
	word-wrap: break-word;
}

.content {
	padding-bottom: 52px;
	position: relative;
	min-height: 600px;
	width: 960px;
	margin: 0 auto;
}

.innerContent {
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 20px;
	background: none repeat scroll 0px 0px rgb(255, 255, 255);
	padding-bottom: 20px;
	min-height: 540px;
}

.richTextContainer ol {
	list-style: decimal inside;
	/*padding-left: 18px;
    margin: 12px 0*/
}

.richTextContainer ul {
	list-style: disc inside;
	/* padding-left: 18px;
    margin: 12px 0*/
}

.richTextContainer li {
	margin-bottom: 12px;
}

